# JetBrains PHPStorm
.idea/**

js/lib/Control.Geocoder.css

js/lib/moment-2.18.1/

js/lib/Leaflet.draw-1.0.4/

js/lib/daterangepicker-3.1/

js/lib/Leaflet-1.6.0/

js/lib/Control.Geocoder.js

js/lib/leaflet-color-markers-1.0.0/

node_modules/

cypress/screenshots/

cypress/videos/

cypress/logs/

locale/python-auto-translate-gettext/
